header{
    margin-top: 25px;
    .header__inner {
        .header__logo {
            display: flex;
            align-items: center;
            img {
                width: 70px;
            }
            .header__logo__text {
                div {
                    font-size: 20px;
                }
            }
        }
    }
}